* {
    font-family: Mononoki Nerd Font, Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
	font-weight: bold;
}

window#waybar {
    background-color: rgba(40, 40, 40, 1.0);
    color: #ebdbb2;
    transition-property: background-color;
    transition-duration: .5s;
	border-bottom: 2px;
	border-style: solid;
	border-color: #458588;
}

#workspaces button {
    color: #ebdbb2;
	border-radius: 0px;
	padding: 0px 0px 0px 1px;
}

#workspaces button:hover {
	background-color: #282828;
	border-width: 0px;
}

#workspaces button.active {
    background-color: #458588;
}

#workspaces button.urgent {
    background-color: #cc241d;
}

#clock,
#battery,
#cpu,
#memory,
#network,
#tray,

#window,
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
	margin-left: 20px;
	margin-right: 6px;
}

#battery {
	margin-left: 20px;
}

#battery.critical:not(.charging) {
    color: #cc241d;
}

#network {
	margin-left: 20px;
}

#tray {
    color: #ebdbb2;
	margin-left: 20px;
}

#mpd {
}
